<title>Home</title>
<link rel="stylesheet" href="/CSS/home.css">

<div class="home-text">
  <h1 style="font-size:50px">We Are Sportify</h1>
  <p>Sportify allows people to connect and get to know eachother through sporting activities.</p>
</div>