<title>Login</title>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <form class="form-signin" action="/login" method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="form-label-group">
                            <label for="usernameOrEmail">Username or Email</label>
                            <input type="text" class="form-control" placeholder="Username" name="usernameOrEmail"
                                required autofocus>
                        </div>
                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                            value="loginButton">Log in</button>
                    </form>
                    <hr>
                    <label>Not a member?</label>
                    <a href="/register" class="btn btn-success">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>